:root {
  --bodyBg: #fff;
  --menuBg: rgba(102, 153, 171);
  --progressBar: #1bd9fa;
  --footerBg: rgba(102, 153, 171);
  --footerMenuBg:rgba(102, 153, 171);
}
html {height: 100%;}
* html body {height: 100%;}
body{
	background: var(--bodyBg);
 min-height: calc(100vh - 80px);
}

#content{
    min-height: calc(100vh - 80px);
}
.stat {
    position: absolute;
    top: 5px;
    left: 85%;
    color: white;
    padding-left: 7px;
    display: block;
}

form {
  width: auto;
  float: right;
  margin-right: 30px;
}

#statistic-label{
    font-size: 13px;
    color: #808080;
    font-family: 'Montserrat';
}
#search-button {
  width: 42px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  top: -2px;
  right: 0;
  outline: 0 !important;
}
#search-button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #ccc;
}
.image-fl img{
    width: 100%; 
    height: 400px;
}

.image-pw img{
    width: 100%; 
    height: 80px;
}

.fl, .pw{
    border:1px solid #ddd; 
}


#menu {
	border-radius: 0;
	background:  var(--menuBg);
	font-family: 'Montserrat';
	margin-bottom: 50px;
} 

#linkmenu{
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin-top: 14px;
    cursor: pointer;
}

.logo{
    width: 250px;
    height: 40px;
    background-image: url('logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.image img{
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: none;
    width: 100%;
    height: 200px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
}


.bl{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 250px;
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    margin: 10px;
}

.text h3{
    padding-top: 10px;
    padding-left: 0;
    color: #945e3d;
    font-size: 20px;
}

.text p {
    padding-top: 10px;
    margin-bottom: 14px;
    text-transform: uppercase;
    font-size: 13px;
}

.text span {
    cursor: pointer;
    color: var(--menuBg);
    font-weight: bold;
    font-size: 15px;
}

.hotels-container {
    margin-top: 80px;
}

h2{
    position: relative;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 28px;
    color: var(--menuBg);
    margin-bottom: 20px;
}

h2 > span {
    display: inline-block;
    margin: 0.4em;
}

h2 > span:before,
h2 > span:after {
    content: '';
    position: absolute;
    width: 200px;
    border-top: 1px solid #4e4e4e;
    margin-top: .6em;
}

h2 > span:before {
    margin-left: -225px;
}
h2 > span:after {
    margin-left: 2%;
}

.hotels-container{
    margin-top: 100px;
}
.top-hotels {
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    max-width: 1200px;
    flex-flow: row wrap;
}
.hotel {
    padding: 10px;
    background: #fff;
    margin: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
}
.photo {
    position: relative;
}
.photo img{
    position: relative;
    width: 100%;
    height: 250px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border: none;
}
.description {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    width: 100%;
    height: 70px;
    font-family: 'Montserrat';
    color: #fff;
    font-size: 16px;
    background: rgba(0, 0, 0, 0.5);
}
.hotel:hover .description {
    transition: 0.6s;
    height: 100%;
    cursor: pointer;
}

.hotel:hover .description #button-for-booking {
    display: block;
}

.description span{
    padding-left: 10px;
}
.description  h3{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 20px;
}
#button-for-booking {
    margin: 50px;
    margin-left: 100px;
    display: none;
}

.price {
    font-size: 20px;
}
.moreinfo{
    font-size: 16px;
}

.list, .descroom{
    font-family: 'Montserrat';
} 
.sidebar-visible{
    background-color: transparent;
    border: none;
    font-family: 'Montserrat';
    width: 50px;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;

}
.sidebar-visible:focus {
  outline: none;
}

#footer{
    height: 80px;
}
.footer-navigation {
   
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    border-bottom: 1px solid;
    border-color: rgba(225, 225, 225, 0.2);
    align-items: center;
    background: var(--footerMenuBg);
    font-size: 18px;
    font-variant: small-caps;
    font-family: 'Montserrat';
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.about-us, .service, .social, .contact{
    align-items: center;
}

.about-us li, .service li, .social li, .contact li{
    list-style-type: none;
    color: #fff;
    padding: 4px;
  
}
.about-us a, .service a, .social a, .contact a {
    text-decoration: none;
    color: #fff;
}
.about-us li:hover, .social li:hover, .service li:hover, .contact li:hover{
    border-bottom: 1px solid;
    border-color: #fff;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.copyright {
    width: 100%;
    height: auto;
    bottom: 0;
    background: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.3));
    background-color: var(--footerBg);
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-variant: small-caps;
    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff;
}
